body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue";
    font-size: 14px;
    line-height: 1.5;
    text-align: left;
    color: #333;
    margin: 0;
    background-color: #f2f3f4;
}

img {
    border: 0.5px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    height: 220px;
}

img:hover {
    box-shadow: 0 0 2px 1px #777;
}

.nav {
    margin: 0;
    padding: 0px;
    width: 100%;
    margin-top: 0px;
    background-color: #777;
    height: auto;
    font-size: 16px;
    overflow: hidden;
    text-align: center;
}

.sticky {
    position: sticky;
    top: 0;
}

.nav-link {
    color: white;
    padding: 10px;
    text-decoration: none;
    float: right;
}

.nav-link:hover {
    background-color: #555;
    color: white;
}

@media screen (max-width: 850px) {
    .nav {
        width: 100%;
        height: auto;
        position: sticky;
        top: 0;
    }
    .nav-link {
        float: center;
    }
}


/*
    .project-container {
        display: grid;
        grid-template-columns: 200px;
        grid-template-rows: 200px;
    }
    .project {
        grid-column: 1;
        grid-row: 1;
    }*/

@media screen (max-width: 400px) {
    .nav-link {
        text-align: center;
        float: center;
    }
}


/*
    .project-container {
        display: grid;
        grid-template-columns: 200px;
        grid-template-rows: 200px;
    }
    .project {
        grid-column: 1;
        grid-row: 1;
    }*/

main {
    background-color: #f2f3f4;
    text-align: center;
    margin: 30px;
}

h1 {
    font-size: 40px;
    text-shadow: 0px 10px 50px gray;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 30px;
    text-align: center;
}

#welcome-section {
    height: 100vh;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

#projects {
    height: 100vh;
}

#contact {
    height: 100vh;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.project-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
}

.project {
    grid-column: auto;
    grid-row: auto;
}

.project-text-link {
    font-size: 16px;
    color: #444;
    text-decoration: none;
    padding: 10px;
    float: center;
}

.project-text-link:hover {
    color: gray;
}

#github-icon {
    list-style-image: url(../personal-portfolio-page/images/github.png);
}

#twitter-icon {
    list-style-image: url(../personal-portfolio-page/images/twitter.png);
}

footer {
    font-size: 12px;
    text-align: center;
}