html {
    scroll-behavior: smooth;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue";
    font-size: 14px;
    line-height: 1.5;
    text-align: left;
    color: #333;
    margin: 0;
    background-color: #f2f3f4;
}

img {
    border: 0.5px solid #ddd;
    border-radius: 10px;
    /* padding: 10px; */
    max-width: 100%;
    transition: 0.3s;
}

.nav {
    margin: 0;
    padding: 0px;
    width: 100%;
    margin-top: 0px;
    background-color: #777;
    height: auto;
    font-size: 16px;
    overflow: hidden;
    text-align: center;
}

.sticky {
    position: sticky;
    top: 0;
}

.nav-link {
    color: white;
    padding: 10px;
    text-decoration: none;
    float: right;
}

.nav-link:hover {
    background-color: #555;
    color: white;
}


/*
    .project-container {
        display: grid;
        grid-template-columns: 200px;
        grid-template-rows: 200px;
    }
    .project {
        grid-column: 1;
        grid-row: 1;
    }*/

main {
    background-color: #f2f3f4;
    text-align: center;
    margin: 30px;
}

h1 {
    font-size: 40px;
    text-shadow: 0px 10px 50px gray;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 30px;
    text-align: center;
}

#welcome-section {
    height: 100vh;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

#project-area {
    min-height: 100vh;
    padding-top: 50px;
    text-align: center;
}

#contact {
    height: 100vh;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 0px;
}

.project-container {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    /* grid-auto-rows: minmax(250px, auto); */
    grid-row-gap: 30px;
    grid-column-gap: 30px;
}

@media screen and (min-width: 700px) {
    .project-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1000px) {
    .project-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}


/* .project1 {
    grid-column-start: 1 / 2;
    grid-row: 1 / 2;
}

.project2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.project3 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.project4 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
} */

.project-text-link {
    display: block;
    font-size: 16px;
    color: #444;
    text-decoration: none;
    padding: 10px;
    transition: color 0.1s;
}

.project-text-link:hover {
    color: gray;
}

.project-text-link:hover img {
    box-shadow: 0 0 2px 1px #777;
}

#github-icon {
    list-style-image: url(../personal-portfolio-page/images/github.png);
}

#twitter-icon {
    list-style-image: url(../personal-portfolio-page/images/twitter.png);
}

footer {
    font-size: 12px;
    text-align: center;
    bottom: 0px;
}